# IDEs and editors
.idea
*.iml
*.iws
.project
.classpath
*.launch
.settings
*.sublime-workspace
.vscode

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Packaged SuiteCloud projects
build

# misc
.sass-cache
.hintrc

# Optional npm cache directory
.npm

# System Files
.DS_Store
Thumbs.db

# Output of 'npm pack'
*.tgz

# Project config
project.json

#test
test.js
src/FileCabinet/SuiteScripts/Gift Certificate/images/image-1.png
src/FileCabinet/SuiteScripts/Gift Certificate/images/image-2.png
src/FileCabinet/SuiteScripts/Gift Certificate/images/image-3.png
.gitignore
src/FileCabinet/SuiteScripts/Gift Certificate/images/image-4.png
src/FileCabinet/SuiteScripts/Gift Certificate/images/image-5.png
src/FileCabinet/SuiteScripts/Gift Certificate/gift_card_email_template_test.html
src/FileCabinet/SuiteScripts/Gift Certificate/gift_card_email_template.html
.prettierrc
